{% extends parent_template|default:"question/base_question.html" %}

{% block title %}
	{{ block.super }} - Colaborador 
{% endblock %}

{% block content %}

                   
                       <!-- <h4> <span style="color:#D00308">¿ Tienes alguna duda ?</span> Te ayudamos a resolverla.</h4> -->

                 <!--   <div class="page-header">
	                      <h2>{{ pregunta.titulo }}</h2>
	                      <h3><small>{{ pregunta.descripcion }}</small></h3>
                    </div>  -->
                <article class="panel panel-primary">
	                     <div class="panel-heading">
	                        <h3 class="panel-title">
	                        	Mis datos
	                        </h3>

	                        
	                     </div> 
	                     <div class="panel-body">
                       
                       <div class="contact_form">
                            <ul>
                              <li> {{ colaborator.fotoxs }} </li>
                              <li><strong>Usuario</strong>: {{ user.username }}</li>
                              <li><strong>Nombres</strong>: {{ user.first_name }}</li>
                              <li><strong>Apellidos</strong>: {{ user.last_name }}</li>
                              <li><strong>Email</strong>: {{ user.email }}</li>
                            </ul>
                      </div>
                      
		                  <div class="row">
		                            <div class="col-md-9">
			                            
			                            <a href="{% url 'edit_profile' %}">	Editar información </a>
										             </div>
										 
			                 </div>
			               </div>
	                        
	                    
                 
                </article>
                 
                        

                        
                   

{% endblock %}

{% block content2 %}




               

{% endblock %}

{% block content3 %}
     <div id="listacolaboradores" class="list-group">
        <ul>
                    <li> <p class="titulo">Top 5 de colaboradores</p></li>
                 

                  {%  for col in colaboradores_top %}
                    <li> <a href="{{ col.Colaborador.get_absolute_url }}" class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-user"></span>  {{col.Colaborador.user.get_full_name|truncatechars:25 }} <span class="badge">
                    {{ col.Colaborador__count }}
                      </span>
                    </a>
                    </li>
                    {% empty %}
           <p><em>No hay colaboradores en el top 5</em></p>
                  {% endfor %}
                  
                
               </ul>
          </div>


{% endblock %}

{% block content5 %}
        <ul>
                    <li> <p class="titulo">Ultimas publicaciones</p></li>
                     {%  for post in posts %}
                       <li>
                         <a href="{{ post.get_absolute_url }}">
                          <button class="btn btn-link btn-sm" type="button"> 
                            {{ post.title|truncatechars:38 }}   
                          </button> 
                          </a>
                      </li>

                      {% endfor %}
                   
          </ul>


{% endblock %}


{% block content4 %}
        <ul>
                    <li> <p class="titulo">Categorias</p></li>
                     {%  for tag in tag_list %}
                       <li>
                         <a href="{{ tag.get_questionsTag }}">
                          <button class="btn btn-primary btn-sm" type="button">
                            {{ tag.name }}   <span class="badge">{{ tag.getCantidadPreguntasEtiquetadas }}</span>
                          </button>
                          </a>
                      </li>

                      {% endfor %}
                   
                </ul>


{% endblock %}